<div id="<%= dom_id guest %>">
  <p>
    <strong>First name:</strong>
    <%= guest.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= guest.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= guest.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= guest.phone_number %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= guest.group %>
  </p>

  <p>
    <strong>Diet:</strong>
    <%= guest.diet %>
  </p>

  <p>
    <strong>Rsvp status:</strong>
    <%= guest.rsvp_status %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= guest.event_id %>
  </p>

  <p>
    <strong>Primary guest:</strong>
    <%= guest.primary_guest_id %>
  </p>

</div>
