<h1>Nos invités au <%= @event.name %></h1>

<%= link_to 'Ajouter un invité', new_event_guest_path(@event), class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>Statut</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Téléphone</th>
      <th>Groupe</th>
      <th>Régime</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.rsvp_status %></td>
        <td><%= guest.first_name %></td>
        <td><%= guest.last_name %></td>
        <td><%= guest.email %></td>
        <td><%= guest.phone_number %></td>
        <td><%= guest.group %></td>
        <td><%= guest.diet %></td>
        <td>
          <%= link_to 'Modifier', edit_event_guest_path(@event, guest), class: 'btn btn-warning' %> |
          <%= link_to 'Effacer', event_guest_path(@event, guest), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Mariage', event_path(@event) %>
