<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= task.due_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

  <p>
    <strong>Assigned to name:</strong>
    <%= task.assigned_to_name %>
  </p>

  <p>
    <strong>Assigned to email:</strong>
    <%= task.assigned_to_email %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= task.event_id %>
  </p>

  <p>
    <strong>Guest:</strong>
    <%= task.guest_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= task.category_id %>
  </p>

</div>
