<!-- app/views/events/show.html.erb -->
<h1><%= @event.name %></h1>
<p><strong>Dates:</strong> <%= @event.date %></p>
<p><strong>Type de réception:</strong> <%= @event.event_type %></p>
<p><strong>Nombre d'invités estimé:</strong> <%= @event.estimated_guests %></p>
<p><strong>À propos:</strong> <%= @event.description %></p>

<h3>Organisation</h3>
<!-- Liens de navigation vers les différentes sections liées à cet événement -->
<ul>
  <li><%= link_to "Les invités", event_guests_path(@event) %></li>
  <li><%= link_to "Les missions", event_tasks_path(@event) %></li>
  <li><%= link_to "Les dépenses", event_expenses_path(@event) %></li>
</ul>

<!-- Liens de navigation standard -->
<%= link_to 'Modifier mon mariage', edit_event_path(@event) %> |
<%= link_to 'Retour', events_path %> |
<%= button_to 'Supprimer cet évènement', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
