<div id="<%= dom_id location %>">
  <p>
    <strong>Location type:</strong>
    <%= location.location_type %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= location.capacity %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= location.notes %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= location.event_id %>
  </p>

</div>
